<div style="float: right;">

<% if logged_in? -%>

  <div id="user-bar-greeting" style="clear: none; float: right;">
    Logged in as <%= current_user.login %>
  </div>
  <div id="user-bar-action" style="clear: none; float: right;" >
    (<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)
  </div>
 
  <%- if (current_user.isadmin?) -%>
  <%- if controller.controller_name == "admin" -%>
  <a href="/surveys">Surveys</a> | <a href="/questions/show_for_admin">Questions</a> &nbsp;
  <%- end -%>
  <%- end -%>
  
  <%- if controller.controller_name != "users" && controller.controller_name != "admin"-%>
  <%- if (current_user.isadmin?) -%>
  <a href="/admin">Home</a>
  <% else %>
  <a href="/users">Home</a>
  <% end %>
  <%- end -%>
  
  <% else -%>

 <div id="user-bar-action" style="clear: none; float: right;" >
    <%= link_to "Log in",  login_path,  { :title => "Log in" } %> /
    <%= link_to "Sign up", signup_path, { :title => "Create an account" } %>
  </div>

  <div id="user-bar-greeting" style="clear: none; float: left;">
    <%= link_to_login_with_IP 'Not logged in ', :style => 'border: none;' %>&nbsp;
  </div>

 

<% end -%>

</div>
