<div><%= error_messages_for :survey %></div>

<h2>Create a Survey</h2>

<%= form_tag('/surveys/create', :method =>:post) %>

<b>Title</b><br>
<%= text_field_tag('survey[title]','',:size =>20) %><br>

<b>Category</b><br>
<%= select_tag('survey[survey_category]','<option value="statistical">statistical</option><option value="paid">paid</option>') %><br>

<b>Description</b><br>
<%= text_area_tag('survey[description]',nil, :cols=>20,:rows=>5) %><br>

<%= hidden_field_tag('survey[user_id]',current_user.id) %>

<%= submit_tag('Continue') %>


<%= link_to "Cancel", :controller => "users", :action => "index" %>
